*, *::after,*::before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
  font-weight:300;
  min-width: 1200px;
  color:#464646;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-box-component{
  box-sizing:content-box;
}

.main-header{
  width:1366px;
  margin:150px auto 0px;
}

.main-menu{
  display: flex;
  margin:0;
  padding:0;
  justify-content: space-between;
}

.main-menu li{
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 50px 0px;
  font-weight: 700;
  letter-spacing:0.1em;
  text-transform:uppercase;
  font-size: 20px;
  width:255px;
  height:120px;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(3):hover, 
.main-menu li:nth-child(3):active{
  background-color: #fff;
  padding:0px;
}

.main-menu li a,
.main-menu li a:visited{
  text-decoration: none;
  color:#39393a;
}

.main-menu li a:hover{
  color:#575757;
}

.main-menu li a:active{
  color:#ffff33;
}

.site-logo{
  width:151px;
  margin-top:-50px;
}

.main-container{
  width:1366px;
  margin:0 auto;
  margin-top:75px;
}

.slider{
  width:1366px; 
  position: relative;
  overflow: hidden;
  margin-bottom: 75px;
}

.slider-wrapper{
  display: flex;
  transition: transform 0.6s ease;
}

.slider-content{
  height:735px;
}

.slider__control{
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left {
  left: -15px;
}

.slider__control_right {
  right: -15px;
}

.slider__control_left::before {
  background-image: url(../img/arrow_left.svg);
}

.slider__control_right::before {
  background-image: url(../img/arrow_right.svg);
}

.slider__control_left::before:active,
.slider__control_left::before:focus {
  background-image: url(../img/arrow_left_active.svg);

}

.slider__control_right::before:active,
.slider__control_right::before:focus {
  background-image: url(../img/arrow_right_active.svg);
}

.slider__control_show {
  display: flex;
}

.works-section{
  width:1366px;
  position: relative;
}

.title{
  display: inline-block;
  font-size: 75px;
  font-weight: 700;
  color: #39393a;
  text-transform: uppercase;
  margin:0px;
  margin-right:auto;
  padding-top:10px;
  margin-left:-5px;
}
.title-wrapper{
  
  margin-bottom: 75px;
}
.works-list{
  display:flex;
  flex-direction: row;
  padding:0;
  margin:0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.work-list-item{
  position: relative;
  display:block;
  height:620px;
  max-width:438px;
  padding:10px;
  transition: 0.1s ease-in-out;
  background-clip: padding-box;
  background-origin:content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.work-list-item:hover{
  padding:0px;
}
.work-list-item::before{
  content: '';
  display: block;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background-color: #ffff33;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.work-list-item:hover::before {
  opacity: 0.2;
}
.work-list-item::after{
content: "Просмотр";
position: absolute;
opacity: 0;
width:200px;
height:60px;
top:280px;
left: 120px;
color:#575757;
background-color: #fff;
width:200px;
height:60px;
font-size: 25px;
font-family: "Open Sans Condensed", Arial, sans-serif;
font-weight: 700;
text-transform: uppercase;
padding: 15px 0;
text-align: center;
top:280px;
left: 120px;
border: 0px solid #39393a;
transition-delay: .2s;
transition: opacity .5s ease-out;
}

.work-list-item:hover::after{
  opacity: 1;
}
.work-list-item:active::after{
  color:#ffff33;
}



.selected-work-popup{
  height: 1200px;
  position: absolute;
  display:none;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  z-index: 999999;
}

#blackout {
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1;
  left: 0;
  display: none;
}